.container_middle{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 500px;
    background-color: #b381b8;

}
.container_middle_para{
    display: flex;
    align-items: center;
    justify-content: center;
}
